
  body
    .container
      img.img1(src="100k.jpg" alt="Image 1")
      img.img2(src="50k.jpg" alt="Image 2")
      img.img3(src="10k.jpg" alt="Image 3")
      img.img4(src="Custom.jpg" alt="Image 4")
