doctype html
html(lang="en")
  head
    title Image Layout
    link(rel="stylesheet" href="styles.css")
  body
    .container
      img.background(src="background-image.jpg" alt="Background")
      img.image.img1(src="100k.jpg" alt="Image 1")
      img.image.img2(src="50k.jpg" alt="Image 2")
      img.image.img3(src="10k.jpg" alt="Image 3")
      img.image.img4(src="Custom.jpg" alt="Image 4")
