doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles.scss")
    title Image Layout

  body
    .container
      img.100k.jpg(src="100k.jpg" alt="Image 1")
      img.50k.jpg(src="50k.jpg" alt="Image 2")
      img.10k.jpg(src="10k.jpg" alt="Image 3")
      img.Custom.jpg(src="Custom.jpg" alt="Image 4")
