
body {

  width: 356px;
  height: 690px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

img {
  width: 161px;
  height: 210px;
  margin: 0 7px; // Margin left and right
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Specific styles for each image
#img1 {
  margin-top: 219px;
  margin-bottom: 244px; // Space above 2img
}

#img2 {
  margin-top: 219px;
  margin-bottom: 244px; // Space above 4img
}

#img3 {
  margin-top: 448px;
  margin-bottom: 15px; // Space below 3img
}

#img4 {
  margin-top: 448px;
  margin-bottom: 15px; // Space below 4img
}

// Adjust spacing between images
.img1-2 {
  margin-bottom: 16px; // Space between img1 and img2
}

.img3-4 {
  margin-bottom: 16px; // Space between img3 and img4
}
