body {
    margin: 0;
    padding: 0;
    
    width: 357px;
    height: 690px;
    width:100vh;
    height:100vh;
}

.container {
    position: relative;
    width: 357px;
    height: 690px;
}

100k.jpg, .50k.jpg, .10k.jpg, .Custom.jpg {
    width: 161px;
    height: 210px;
    margin-left: 7px;
    margin-right: 7px;
}

.100k.jpg {
    margin-top: 219px;
    margin-bottom: 244px;
}

.50k.jpg {
    margin-top: 219px;
    margin-bottom: 244px;
    clear: both; /* Ensures img2 is below img1 */
}

.10k.jpg {
    margin-top: 448px;
    margin-bottom: 15px;
    float: left; /* Aligns img3 to the left */
}

.Custom.jpg {
    margin-top: 448px;
    margin-bottom: 15px;
    float: left; /* Aligns img4 next to img3 */
}

/* Clearfix to contain floated images */
.container::after {
    content: "";
    display: table;
    clear: both;
}
