body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 357px;
  height: 690px;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .image {
    width: 161px;
    height: 210px;
    margin-left: 7px;
    margin-right: 7px;

    &.img1 {
      margin-top: 219px;
      margin-bottom: 244px;
    }

    &.img2 {
      margin-top: 219px;
      margin-bottom: 244px;
    }

    &.img3 {
      margin-top: 448px;
      margin-bottom: 15px;
    }

    &.img4 {
      margin-top: 448px;
      margin-bottom: 15px;
    }
  }
}
