
body {
    background-image: url('Background-image .jpg');
    width: 357px;
    height: 690px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    position: relative;
}

.img1, .img2, .img3, .img4 {
    width: 161px;
    height: 210px;
    margin-left: 7px;
    margin-right: 7px;
}

.img1 {
    margin-top: 219px;
    margin-bottom: 244px;
}

.img2 {
    margin-top: 219px;
    margin-bottom: 244px;
    margin-left: 16px; // Space between img1 and img2
}

.img3 {
    margin-top: 448px;
    margin-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;
}

.img4 {
    margin-top: 448px;
    margin-bottom: 15px;
    margin-left: 16px; // Space between img3 and img4
}
